// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "node_modules/font-awesome/scss/Font-awesome";

body{
	padding: 0;
	margin: 0;
}

.section{

	padding: 50px 0;

	&.section-introduce{
		background-color: #333;
		h1{
			color: white;
			margin: 0;
			//margin: 30px 0;
		}
	}

	&.section-examples{
		h3{
			margin: 0;
			margin-bottom: 30px;
		}
		.tab-pane{
			padding-top: 30px;
		}
	}

}

.links{
	padding: 100px 0;
	h1{
		margin-bottom: 50px;
	}
	a{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #ccc;
		color: #111;
		border-radius: 100%;
		margin: 0 10px;
	}
}